<!-- <div class="container-fluid ">
    <h2 class="text-center p-5">Portfolio</h2>

    <h3 class="text-center m-3">Children Photography</h3>
    <div class="row justify-content-around">
        <img src="./assets/images/children/1.jpg">
        <img src="./assets/images/children/2.jpg">
        <img src="./assets/images/children/3.jpg">
        <img src="./assets/images/children/4.jpg">
    </div>


    <div class="row justify-content-around justify-content-center-sm">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 g-5 mb-5">
            <img src="./assets/images/children/1.jpg"
                class="card-img-top img-fluid" alt="destination">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 g-5 mb-5">
            <img src="./assets/images/children/2.jpg"
            class="card-img-top img-fluid" alt="destination">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 g-5 mb-5">
            <img src="./assets/images/children/3.jpg"
            class="card-img-top img-fluid" alt="destination">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 g-5 mb-5">
            <img src="./assets/images/children/4.jpg"
            class="card-img-top img-fluid" alt="destination">
        </div>
    </div>


    <h3 class="text-center m-3">Group Photography</h3>
    <div class="row justify-content-around">
        <img src="./assets/images/group/1.jpg">
        <img src="./assets/images/group/2.jpg">
        <img src="./assets/images/group/3.jpg">
        <img src="./assets/images/group/4.jpg">
    </div>

    <h3 class="text-center m-3">Portrait Photography</h3>
    <div class="row justify-content-around">
        <img src="./assets/images/portrait/1.jpg">
        <img src="./assets/images/portrait/2.jpg">
        <img src="./assets/images/portrait/3.jpg">
        <img src="./assets/images/portrait/4.jpg">
    </div>

    <h3 class="text-center m-3">Wedding Photography</h3>
    <div class="row justify-content-around">
        <img src="./assets/images/wedding/1.jpg">
        <img src="./assets/images/wedding/2.jpg">
        <img src="./assets/images/wedding/3.jpg">
        <img src="./assets/images/wedding/4.jpg">
    </div>
</div>                                                 things need a rethink :D -->