/*Review section styling*/

.starating {
  border-bottom: 0.1em solid black;
  padding-bottom: 0.3em;
}

/*Awards section styling*/

img {
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 0 0.6em 0.1em rgba(0, 0, 0, 0.46);
  box-shadow: 0 0 0.6em 0.1em rgba(0, 0, 0, 0.46);
}

@media (max-width: 768px) {
  img {
    width: 50vw;
    height: 50vw;
  }
  svg {
    transition: transform 0.2s;
  }
  svg:hover {
    transform: scale(1.5);
  }

  .card {
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
  }
}