<hero></hero>
<h2 class="text-center mt-5">Available Categories</h2>
<div class="row m-5">
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img src="./assets/imagess/children/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Children</h3>

                <button type="button" class="btn btn-outline-secondary"><a class="secondary"
                        href="./portfolio/#children">Show
                        more</a>
                </button>

            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img src="./assets/imagess/group/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Group</h3>

                <button type="button" class="btn btn-outline-secondary"><a class="secondary"
                        href="./portfolio/#group">Show
                        more</a></button>

            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img src="./assets/imagess/portrait/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Portrait</h3>

                <button type="button" class="btn btn-outline-secondary"><a class="secondary"
                        href="./portfolio/#portrait">Show
                        more</a></button>

            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img src="./assets/imagess/wedding/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Wedding</h3>

                <button type="button" class="btn btn-outline-secondary"><a class="secondary"
                        href="./portfolio/#wedding">Show
                        more</a></button>

            </div>
        </div>
    </div>
</div>
<div id="getInTouch" class="m-5 ">
    <a class="btn btn-outline-dark" routerLink="contact">Get in touch</a>
</div>