<hero></hero>
<h2 class="text-center mt-5">Available Categories</h2>
<div class="row m-5">
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="card h-100">
            <img src="./assets/images/children/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Children</h3>
                <button type="button" class="btn btn-outline-secondary"><a>Show more</a></button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="card h-100">
            <img src="./assets/images/group/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Group</h3>
                <button type="button" class="btn btn-outline-secondary"><a>Show more</a></button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-0">
        <div class="card h-100">
            <img src="./assets/images/portrait/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Portrait</h3>
                <button type="button" class="btn btn-outline-secondary"><a>Show more</a></button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100">
            <img src="./assets/images/wedding/1.jpg" alt="Article image" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title h5">Wedding</h3>
                <button type="button" class="btn btn-outline-secondary"><a>Show more</a></button>
            </div>
        </div>
    </div>
</div>